.basket-prev {
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	position: relative;
	&__icon {
		@include size(25px);
		fill: $white;
	}
	&__title {
		font-family: $bold-font;
		line-height: 20px;
		@include tablets() { display: none; }
	}
	&__count {
		font-size: 14px;
		line-height: 18px;
		@include tablets() { display: none; }
	}
	&__number {
		display: none;
		position: absolute;
		top: -10px;
		right: -12px;
		@include size(24px);
		border-radius: 50%;
		line-height: 23px;
		font-size: 12px;
		color: $base-text-color;
		background-color: $main-action-color;
		align-items: center;
		justify-content: center;
		@include tablets() { display: flex; }
	}
}