.s {
	&-bg-white {
		background-color: $white;
	}
	&-popular-categories {
		padding-bottom: 10px;
	}
	&-sales-leaders {
		padding-bottom: 20px;
	}
	&-size-small {
		padding: 10px 0;
	}
}

.section-header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	&__right {
		margin-left: auto;
		& > * {
			&:not(:last-child) {
				margin-right: 5px;
			}
		}
	}
	&__link {
		color: $link-color;
		font-family: $medium-font;
		text-decoration: underline;	
	}
}