// ЦВЕТА
$white: #ffffff;

$black: #000000;

$main-bg-color: #f2f2f2;

$link-color: #1fa349;
$link-color-hover: #165f2d;

$text-info-color: #bababa;

$input-border-color: #ededed;

$main-action-color: #f8e71c;

$base-text-color: #333333;

$dark-bg-color: #003333;   

// РАЗМЕРЫ
$base-font-size: 16px;
$content-size: 1240px; 


// ШРИФТЫ
$main-font: 'source_sans_proregular', Arial, sans-serif;
$boldest-font: 'source_sans_problack', Arial, sans-serif;
$medium-font: 'source_sans_prosemibold', Arial, sans-serif;
$bold-font: 'source_sans_probold', Arial, sans-serif;

$breakpoints: (
	"phone": 400px,
	"phone-wide": 480px,
	"phablet": 560px,
	"tablet-smal": 640px,
	"tablet": 768px,
	"tablet-wide": 1024px,
	"desktop": 1248px,
	"desktop-wide": 1440px
);