extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include page/index/banner
	include page/index/popular-categories
	include page/index/advantages
	include page/index/action
	include page/index/discount
	include page/index/sales-leader
	include page/index/you-see
