header.header
	.header-top
		.container
			.location.header-top__location
				+icon('location','location__icon')
				span.location__current Нижний новгород
			include ../navigation/main-nav
	.header-main
		.container

