.location.header-top__location
	.location__header
		+icon('location','location__icon')
		span.location__current Нижний Новгород
	.location__body
		.location-question
			span.location-question__text Ваш регион доставки Нижний Новгород? 
			.location-question__buttons
				.btn.location-question__btn.btn--bg-green.btn--size-small(data-location='yes') Да, верно
				.btn.location-question__btn.btn--border-green.btn--size-small(data-location='no') Нет, уточнить регион
		.location-choose
			.location-choose__header
				input(placeholder="Поиск по городу или индексу").input-field.input-field--size-s
			.location-choose__body
				ul.location-choose__list
					li.location-choose__item Москва
					li.location-choose__item Санкт-Петербург
					li.location-choose__item Екатеренбург
					li.location-choose__item Нижний Новгород
					li.location-choose__item Пермь
					li.location-choose__item Казань
					li.location-choose__item Новосибирск
					li.location-choose__item Челябинск
					li.location-choose__item Москва
					li.location-choose__item Санкт-Петербург
					li.location-choose__item Екатеренбург
					li.location-choose__item Нижний Новгород
					li.location-choose__item Пермь
					li.location-choose__item Казань
					li.location-choose__item Новосибирск
					li.location-choose__item Челябинск