@import "input-field";
@import "textarea-field";
@import "file-upload";
@import "form-group";

.show-on-success {
	display: none;
	.popup__body {
		padding: 0;
	}
}

.form {
	&__body {
		margin-bottom: 30px;
		& > * {
			margin: 20px 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}
	}
	&__footer {
		& > * {
			margin: 10px 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}
	}
	&-line {
		display: flex;
		align-items: center;
		& > * {
			&:not(:last-child) { margin-right: 20px; }
		}
		&__info {
			font-size: 14px;
			&.form-line__info {
				&--color {
					&-green {
						color: $link-color;
					}
				}
				&--size {
					&-s {
						font-size: 12px;
					}
				}
			}
		}
	}
	&-info {
		font-size: 12px;
		color: $text-info-color;
		&__link {
			color: $text-info-color;
			text-decoration: underline;
		}
	}
	&-success {
		background-color: $light-bg-color;
		& > * {
			margin: 6px 0px;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}
		&__block {
			padding: 30px 40px;
			background-color: $white;
			& > * {
				margin: 15px 0px;
				&:first-child { margin-top: 0; }
				&:last-child { margin-bottom: 0; }
			}
		}
		&__row {
			display: flex;
			& > * {
				&:not(:last-child) {
					margin-right: 25px;
				}
			}
		}
		&__info {
			font-size: 24px;
			display: flex;
			align-items: center;
			& > * {
				&:not(:last-child) { margin-right: 10px; }
			}
		}
		&__number {
			font-family: $bold-font;
		}
		&__description {
			font-size: 14px;
		}
		
		&-contacts {
			display: flex;
			flex-direction: column;
			font-size: 14px;
			position: relative;
			padding-left: 50px;
			& > * {
				margin: 3px 0px;
				&:first-child { margin-top: 0; }
				&:last-child { margin-bottom: 0; }
			}
			&__icon {
				@include size(35px);
				position: absolute;
				top: 0;
				left: 0;
			}
			&__link {
				font-size: 12px;
			}
		}
	}
}

.fast-review-form {
	padding: 20px 40px 30px;
	background-color: $light-bg-color;
	& > * {
			margin: 20px 0px;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}
	&__line {
		display: flex;
		align-items: center;
		& > * {
			&:not(:last-child) { margin-right: 10px; }
		}
		
	}
}