section(style="background-image:url('static/img/general/banner.jpg')").s-banner
	.container
		.banner
			h1.title-page Продажа строительных материалов от производителя
			p.banner__text Текст о компании, который может пригодится для первичного знакомства с поситителем сайта, а также для целей поискового продвижения